/* Items container */
.task-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: white;
  overflow-y: auto; /* Allow scrolling ??*/
  max-height: 100%; /* Add max-height */
  height: 100%;    /* Add height */
}



.task, .subtask {
  color: #090909;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  cursor: pointer;
  border: 1px solid #f5f5f5;
  /* border-left: 4px solid #00d727; Uncomment if you want a left border for priority */
  box-shadow:
    6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
  font-size: 1em;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.15s ease, font-size 0.15s ease, box-shadow 0.15s ease, transform 0.15s ease;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;  
  max-height: 53px; /* Limit height to prevent overflow  not sure if this works yet!!!!!!!!!!!!!!!!!!*/
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subtask {
  margin-left: 30px;
}

.task:hover, .subtask:hover {
  font-size: 1.1em;
  transform: scale(1.01);
  & .checkbox {
    transform: scale(1.1);
  }
}

.task:active, .subtask:active {
    color: #666;
    box-shadow:
      0px 0px 0px #c5c5c5,
      0px 0px 0px #ffffff,
      inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  transition: transform 0.15s;
  background-color: #f5f5f5;
  border: 1px solid #c5c5c5;
  box-shadow: 1px 1px 3px #c5c5c5,
              -1px -1px 3px #ffffff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.task-label {
  vertical-align: middle;
  margin-left: 3px;
  font-size: 1em;
  color: #090909;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.task-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between settings and due date */
}

.settings-container {
  width: 25px;   /* Set a fixed width for the container */
  height: 25px;  /* Set a fixed height for the container */
  display: flex; /* Optional: Use flexbox for alignment */
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent shrinking of the settings container */
  border-radius: 15px;
  padding: 5px;
  transition: background-color 0.15s ease;
}

.setting {
  object-fit: contain; /* Ensures the image scales down to fit within the container */
  width: 100%;         /* Make the image fill the container's width */
  height: 100%;        /* Make the image fill the container's height */   /* Set a maximum height for the container */
}

.settings-container:hover {
  background-color: #d1d1d1; /* Optional: Change background color on hover */
  cursor: pointer; /* Optional: Change cursor to pointer on hover */
  box-shadow:
    inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.settings-container:active {
  background-color: #b1b1b1; /* Optional: Change background color on active */
  box-shadow:
    inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.due {
  align-items: center;
  justify-content: end;
  margin: 0;
  margin-right: -5px;
  margin-left: auto; /* This pushes the element to the right */
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #090909;
}

